* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #010101;
}

#hero {
  position: relative;
  overflow: hidden;
  height: 400px;
  /* Ajustez la hauteur selon vos besoins */
}

.banner img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  /* Ajustez la position de l'image ici */
}

.banner img.active {
  opacity: 1;
}

/* Style de la navigation */
header {
  background-color: #010101;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  /* Ajustez la largeur selon vos besoins */
  height: 100%;
  /* La hauteur s'ajustera automatiquement en fonction de la largeur */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #f5f501;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff0000;
}



/* Style de la section À propos */
#about {
  background-color: #000;
  padding: 80px 0;
  text-align: center;
}

#about .container {
  max-width: 960px;
  margin: 0 auto;
}

#about h2 {
  font-size: 32px;
  color: #ff0000;
  margin-bottom: 40px;
}

#about p {
  font-size: 18px;
  color: #fff;
  line-height: 1.6;
}

/* Style de la section Formations */
#courses {
  background-color: #090909;
  padding: 80px 0;
  text-align: center;
}

#courses .container {
  max-width: 960px;
  margin: 0 auto;
}

#courses h2 {
  font-size: 32px;
  color: #ff0000;
  margin-bottom: 40px;
}

.course {
  margin-bottom: 40px;
}

.course img {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 400px;
  margin-bottom: 20px;
  background-size: cover;
}

.course h3 {
  font-size: 24px;
  color: #f5f501;
  margin-bottom: 10px;
}

.course p {
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff0000;
  color: black;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.btn:hover {
  background-color: #f5f501;
  color: black;
}

/* Style de la section Témoignages */
#testimonials {
  background-color: #000;
  padding: 80px 0;
  text-align: center;
}

#testimonials .container {
  max-width: 960px;
  margin: 0 auto;
}

#testimonials h2 {
  font-size: 32px;
  color: #ff0000;
  margin-bottom: 40px;
}

.testimonial {
  margin-bottom: 40px;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
}

.testimonial blockquote {
  font-size: 18px;
  color: #ffff;
  line-height: 1.6;
  margin-bottom: 20px;
}

.testimonial cite {
  font-size: 16px;
  color: #f5f501;
  font-weight: bold;
}

/* Style de la section FAQ */
#faq {
  background-color: #090909;
  padding: 80px 0;
  text-align: center;
}

#faq .container {
  max-width: 960px;
  margin: 0 auto;
}

#faq h2 {
  font-size: 32px;
  color: #f5f501;
  margin-bottom: 40px;
}

.question {
  text-align: left;
  margin-bottom: 20px;
}

.question h3 {
  font-size: 24px;
  color: #ff0000;
  margin-bottom: 10px;
}

.question p {
  font-size: 16px;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Style de la section Contact */
#contact {
  background-color: #000;
  padding: 80px 0;
  text-align: center;
}

#contact .container {
  max-width: 960px;
  margin: 0 auto;
}

#contact h2 {
  font-size: 32px;
  color: #ff0000;
  margin-bottom: 40px;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
}

.form-group label {
  display: flex;
  font-size: 16px;
  color: #f5f501;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #010101;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 120px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-container button[type="submit"].btn {
  background-color: #ff0000;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-container button[type="submit"].btn:hover {
  background-color: #f5f501;
}

button[type="submit"].btn:hover {
  background-color: #f5f501;
}

footer {
  background-color: #010101;
  padding: 40px 0;
  text-align: center;
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links {
  flex-basis: 50%;
}

.footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #f5f501;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ff0000;
}

.footer-contact {
  flex-basis: 50%;
}

.footer-contact p {
  font-size: 16px;
}

.footer-copyright {
  flex-basis: 100%;
  font-size: 14px;
  color: #555555;
  text-align: center;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #ff0000;
  color: #ffffff;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 9999;
  cursor: pointer;
}

#back-to-top.active {
  opacity: 1;
  pointer-events: auto;
}

#back-to-top:hover {
  background-color: #f5f501;
  color: #000000;
}